* {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  span {
    display: inline;
  }
  span b {
    margin-left: 550px;
  }
  span button {
    background-color: #444444;
    color: white;
    float: right;
    margin-right: 10px;
    margin-top: 112px;
    border: none;
    width: 80px;
    height: 25px;
    z-index: 4;
    position: relative;
  }
  button a {
    text-decoration: none;
    color: white;
  }
  button a:hover {
    background-color: #0356d1;
    color: rgb(255, 255, 255);
  }
  button:hover {
    background-color: #0356d1;
    color: rgb(255, 255, 255);
  }
  .topnav {
    background-color: rgb(200, 200, 200);
    overflow: hidden;
    position: fixed;
    z-index: 1;
    margin-top: 80px;
    width: 100%;
    position: absolute;
    top: 20px;
  }
  .topnav a {
    float: left;
    color: #060606;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #0356d1;
    color: rgb(255, 255, 255);
  }
  .topnav a.active {
    background-color: #009c34;
    color: rgb(255, 255, 255);
  }
  .topnav select {
    margin-right: 40px;
    margin-top: 12px;
    background-color: grey;
    color: white;
  }
  .topnav input {
    margin-top: 10px;
    margin-left: 100px;
  
    width: 500px;
  }

  
  .search {
    border-radius: 5px;
    border: none;
  }
  
  span b {
    font-family: "Times New Roman", Times, serif;
    font-size: xxx-large;
    margin-left: 15px;
    margin-bottom: 30px;
    background-color: rgb(0, 36, 104);
  }
  span img {
    width: 75px;
    margin-top: 17px;
    margin-left: 10px;
}
b#Query {
    margin: 20px;
}
#contact b {
    margin: 20px;
    color: #000000;}
 div.form {
  margin: 20px;
  font-weight: bolder;
  width: 400px;
}
div.form input#contact_phone {
  width: 100%;
}
div.form select#contact_phone {
  width: 100%;
}
div.form textarea#contact_phone {
  width: 100%;
  padding: 5px 10px;
  height: 90px;
} 

b#Query {
    margin: 20px;
}
hr {
    margin: 20px;
}
h2 {
    margin: 20px;
}
p {
    margin: 20px;
    color: rgb(61, 60, 60);
    font-size: small;
}
ul {
    margin: 20px;
    color: rgb(19, 19, 19);
    font-size: small;
}
h1#About {
    border: 5px solid orange;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
  }