* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span {
  display: inline;
}
span b {
  margin-left: 550px;
}
span button {
  background-color: #444444;
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 112px;
  border: none;
  width: 80px;
  height: 25px;
  z-index: 4;
  position: relative;
}
button a {
  text-decoration: none;
  color: white;
}
button a:hover {
  background-color: #0356d1;
  color: rgb(255, 255, 255);
}
button:hover {
  background-color: #0356d1;
  color: rgb(255, 255, 255);
}
.topnav {
  background-color: rgb(200, 200, 200);
  overflow: hidden;
  position: fixed;
  z-index: 1;
  margin-top: 80px;
  width: 100%;
  position: absolute;
  top: 20px;
}
.topnav a {
  float: left;
  color: #060606;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #0356d1;
  color: rgb(255, 255, 255);
}
.topnav a.active {
  background-color: #009c34;
  color: rgb(255, 255, 255);
}
.topnav select {
  margin-right: 40px;
  margin-top: 12px;
  background-color: grey;
  color: white;
}
.topnav input {
  margin-top: 10px;
  margin-left: 100px;

  width: 500px;
}
div#login {
  margin: auto;
}

.search {

  border-radius: 5px;
  border: none;
}

span b {
  font-family: "Times New Roman", Times, serif;
  font-size: xxx-large;
  margin-left: 99px;
  margin-top: -6.5%;
}
span img {
  width: 75px;
  margin-top: 17px;
  margin-left: 10px;
  display: inline;
}

.bg img {
  margin-top: -12px;
  width: 100%;
  filter: brightness(0.4);
  display: flex;
  position: absolute;
}

 div.head h1 b {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  margin-top: 7%;
  margin-left: 31%;
  color: #ffffff;
  font-weight: 700;
  font-size: xxx-large;
}

div.para p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  margin-top: 15%;
  margin-left: 0.9%;
  font-size: x-large;
  color: #ffffff;
  text-align: center;
}
div.para b {
  font-size: xx-large;
}
.news-img1 img {
  width: 28%;
  margin-left: 2%;
  margin-top: 542px;
}
div.news-img1 {
  display: flex;
}

div.news-img2 img {
  width: 83.5%;
  margin-left: 8.5%;
  margin-bottom: 330px;
}
div.news-img2 {
  width: 70%;
  height: 100px;
}

.news-img3 img {
  margin-left: 70%;
  margin-bottom: 350%;
  margin-top: -53.8%;
}
.news-img3 img {
  width: 28%;
  height: 7.3%;
  display: inline;
}

div.line1 {
  display: flex;
  margin-left: 2.9%;
  border: 1px solid #0356d1;
  height: 300px;
  margin-top: 43%;
}

div.line2 {
  display: flex;
  margin-right: 32.9%;
  border: 1px solid #0356d1;
  height: 300px;
  margin-top: 43%;
}

div.head1 {
  border: 5px solid rgb(226, 147, 0);
  width:2px ;
  height: 60px;
  margin-top: 41.2%;
  display: flex;
  position: absolute;
  margin-left: 8px;
}
#h1d{
  width: 500px;
  margin-top: 41.2%;
  position: absolute;
  margin-left: 11px;
  color: #000000;
}

div.news-img4 img {
  width: 28%;
  margin-left: 2%;
  margin-top: 6%;
  height: 300px;
}

div.news-img4 {
  display: flex;
  position: relative;
}

div.line3 {
  display: flex;
  margin-left: 2.9%;
  border: 1px solid #0356d1;
  height: 300px;
  margin-top: 6%;
}

div.news-img5 img {
  width: 89%;
  margin-left: 9%;
  margin-top: -59.5%;
  height: 303px;
}

div.news-img5 {
  width: 100.5%;
  display: flex;
  position: relative;
}

div.line4 {
  display: flex;
  margin-left: 9%;
  border: 1px solid #0356d1;
  height: 300px;
  margin-top: -60%;
}

div.news-img6 img {
  width: 27.7%;
  margin-left: 70.2%;
  margin-top: -24.2%;
  height: 280px;
}

div.news-img6 {
  width: 100%;
  display: flex;
  position: relative;
}

div.container1 {
  margin-top: 5%;
  display:grid;
  height: 1300px;

}

div.bg-dark {
  background-color: darkgrey !important;
}
div.bg-dark ul {
  list-style: none;
  margin-right: 60px;
}
div.bg-dark ul li {
  border: 2px solid black;
  text-align: center;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
}
div.bg-dark ul li a {
  text-decoration: none;
  color: black;
}

nav.navbar-dark {
  background-color: darkgray !important;
}
@media only screen and (min-width: 1024px) {
  .mobile-view {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .topnav {
    display: none;
  }
  span button {
    display: none;
  }
  span b {
    font-size: 1.80rem;
    margin-top: -45px;
    margin-left: 80px;
  }
  span img {
    margin-top: 25px;
    margin-right: 0px;
    width: 60px;
  }
}
