*{
  margin : 0;
  
}

span {
  display: inline;
  
}
span b {
  margin-left: 550px;
}
span button {
  background-color: #444444;
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 112px;
  border: none;
  width: 80px;
  height: 25px;
  z-index: 4;
  position: relative;
}
button a {
  text-decoration: none;
  color: white;
}
button a:hover {
 background-color: #0356d1;
 color: rgb(255, 255, 255);
}
button:hover {
  background-color: #0356d1;
  color: rgb(255, 255, 255);
 }
.topnav {
    background-color: rgb(200, 200, 200);
    overflow: hidden;
    position: fixed;
    z-index: 1;
    margin-top: 80px;
    width: 100%;
    position: absolute;top: 20px;
  }
  .topnav a {
    float: left;
    color: #060606;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #0356d1;
    color: rgb(255, 255, 255);
  }
  .topnav a.active {
    background-color: #009c34;
    color: rgb(255, 255, 255);
  }
  .topnav select {
    
    margin-right: 40px;
    margin-top: 12px;
    background-color: grey;
    color: white;
  }
  .topnav input {
    margin-top: 10px;
    margin-left: 100px;
    
    width: 500px;
  }
  div#login {
    margin: auto;
  }

.search {
  border-radius: 5px;
  border: none;
}

span b{
  font-family: 'Times New Roman', Times, serif;
  font-size: xxx-large;
  margin-left: 15px;
  margin-bottom: 30px ;
  background-color: rgb(0, 36, 104);
}
span img{
  width: 75px;
  margin-top: 17px;
  margin-left: 10px;
}

.bg img{
  width: 100%;
  filter: brightness(0.40);
}

.slide-container {
  margin-left: 1.7%;
  margin-right: 2%;
  margin-top: 10%;
  transform: translateY(-50%);
  width: 50%;
  height: 330px;
  overflow: hidden;
  -moz-box-shadow: 8px 8px 8px #4b4a4a;
  -webkit-box-shadow: 8px 8px 8px #4d4c4c;
  box-shadow: 8px 8px 8px #535353;
  display: block;
}
img {
  width: 20%;
}

.image-container {
  display: inline-block;
  width: 3000px;
  height: 400px;
  position: relative;
  transition: left 1s;
  
  animation: slide 15s infinite;
}
.slider-image {
  float: left;
}

.button-container {
  position: relative;
  top: 10px;
}

.slider-button {
  height: 10px;
  width: 10px;
  margin: 4px;
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(white, 0.5);
}
.slider-button:hover {
  background-color: rgba(white, 0.7);
}

#slider1:target ~ .image-container {
  left: 0px;
}
#slider2:target ~ .image-container {
  left: -600px;
}
#slider3:target ~ .image-container {
  left: -1200px;
}
#slider4:target ~ .image-container {
  left: -1800px;
}
#slider5:target ~ .image-container {
  left: -2400px;
}

.image-container:hover {
  animation: slide 10s infinite;
}

@keyframes slide {
  0% {
      left: 0;
  }
  20% {
      left: -600px;
  }
  40% {
      left: -1200px;
  }
  60% {
      left: -1800px;
  }
  80% {
      left: -2400px;
  }
  100% {
      left: 0;
  }
}

.side-nav1{
  background-color: #363636;
  width: 29.6%;
  height: 20%;
}

.side-nav1 a{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large; 
  padding: 0 10px  10px ;
}
 .side-nav2{
  background-color: #363636;
  width: 30%;
  height: 20%;
}

 .side-nav2 a{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large; 
  text-align: center;

 }
 h1#About {
  border: 5px solid orange;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
 }
 hr {
  margin:  20px;
 }
 h2 {
  margin: 20px;
 }
 p {
  margin: 20px;
  color: rgb(143, 143, 143);
  font-size: small;
 }
 ul {
  margin: 20px;
  color: rgb(143, 143, 143);
  font-size: small;
 }