* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body{
  width: 99%;
}

span {
  display: inline;
}
span b {
  margin-left: 550px;
}
span button {
  background-color: #444444;
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 112px;
  border: none;
  width: 80px;
  height: 25px;
  z-index: 4;
  position: relative;
}
button a {
  text-decoration: none;
  color: white;
}
button a:hover {
  background-color: #0356d1;
  color: rgb(255, 255, 255);
}
button:hover {
  background-color: #0356d1;
  color: rgb(255, 255, 255);
}
.topnav {
  background-color: rgb(200, 200, 200);
  overflow: hidden;
  position: fixed;
  z-index: 1;
  margin-top: 80px;
  width: 100%;
  position: absolute;
  top: 20px;
}
.topnav a {
  float: left;
  color: #060606;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #0356d1;
  color: rgb(255, 255, 255);
}
.topnav a.active {
  background-color: #009c34;
  color: rgb(255, 255, 255);
}
.topnav select {
  margin-right: 40px;
  margin-top: 12px;
  background-color: grey;
  color: white;
}
.topnav input {
  margin-top: 10px;
  margin-left: 100px;

  width: 500px;
}
.search {
  border-radius: 5px;
  border: none;
}

span b {
  font-family: "Times New Roman", Times, serif;
  font-size: xxx-large;
  margin-left: 99px;
  margin-top: -6.5%;
}
span img {
  width: 75px;
  margin-top: 17px;
  margin-left: 10px;
  display: inline;
}

.center-img img {
  width: 1000px;
  height: 530px;
  margin-left: 10px;
  margin-top: 10px;

}
/* .center-card  {
  display: inline;
  border: 1px solid gray;
}
.center-card img.bnews {
  width: 250px;
  height: 170px;
  margin-left: 10px;
  margin-top: 10px;

}
.center-card b {
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
  
} */


div.side-nav1 {
  background-color: #363636;
  width: 20%;
  height: 1090px;
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;
}

.side-nav1 a{
  color: #ffffff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  padding:  5px 8px;
  margin-left: 2px;
}

h2 {
  margin: 20px;
}
p {
  margin: 20px;
  color: rgb(78, 78, 78);
  font-size: small;
}
ul {
  margin: 60px;
  color: #363636;
  font-size: small;
}
div.bg-dark {
  background-color: darkgrey !important;
}
div.bg-dark ul {
  list-style: none;
  margin-right: 60px;
}
div.bg-dark ul li {
  border: 2px solid black;
  text-align: center;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
}
div.bg-dark ul li a {
  text-decoration: none;
  color: black;
}

nav.navbar-dark {
  background-color: darkgray !important;
}
@media only screen and (min-width: 1024px) {
  .mobile-view {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .topnav {
    display: none;
  }
  span button {
    display: none;
  }
  span b {
    font-size: 1.8rem;
    margin-top: -45px;
    margin-left: 80px;
  }
  span img {
    margin-top: 25px;
    margin-right: 0px;
    width: 60px;
  }
}

/* .line1{
  border: 7px solid rgb(0, 255, 0);
  margin-top: 1px;
  width: 99.9%;
} */

footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
